<?xml version="1.0"?>
<launch>
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '/home/clement/catkin_ws/src/widowx_arm/widowx_arm_description/urdf/widowx.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
